<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="/" color="light" text=""></ion-back-button> </ion-buttons>
    <ion-title>PMAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="p-title">Alterar nome do Servidor Bioslab.</p>
 
  <p class="p-texto">Consiste em definir qual a base de informações, será acessada pelo sistema, necessita de muita atenção para configurar 
    o servidor correto
  </p>
  
  <p class="p-texto05">
    <strong>PASSO 1: </strong>Clique no ícone de <ion-text color="danger"><strong>"roda dentada"</strong></ion-text>
  </p>
  <ion-img src="https://i.ibb.co/9wMnkNJ/login-bioslab.png"class="ion-img" ></ion-img>
 
  <p class="p-texto05">
    <strong>PASSO 2: </strong>Clique no ícone de <ion-text color="danger"><strong>"Alterar sevidor"</strong></ion-text>
  </p>
  <ion-img src="https://i.ibb.co/k0SkcT9/bioslab-menu.png" class="ion-img"></ion-img>
 
  <p class="p-texto05">
    <strong>PASSO 3: </strong>Defina o nome do servidor, ou seja, se o nome do servidor for SRVTESTE, ficará, 
    <ion-text color="tertiary"><strong>"Servidor: SRVTESTE"</strong></ion-text>.     
  </p>
  <p class="p-texto">Em caso, seja uma base de teste, ou acessa 
    um servidor configurado em porta de comunicação diferente, será necessário informar a porta de comunicação configurada no PMBS, e ficará como na imagem abaixo. 
    Karyon.
   </p>   
  <ion-img src="https://i.ibb.co/mqNmTwP/alterar-servidor.png" class="ion-img"></ion-img>   

</ion-content>
