<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="/" color="light" text=""></ion-back-button> </ion-buttons>
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="p-title"></p>

  <p class="p-texto"></p>
  
  <p class="p-textoUP"></p>

  <ion-img src="" class="ion-img"></ion-img>
  
  <p class="p-textoUP">
    <ion-icon name="ellipse-sharp" class="icon-red"></ion-icon>  
    <strong>: </strong>
  </p>
  <ion-footer>  
    <ion-toolbar class="toobar-footer">
      <p class="p-texto-small">    
        <img src="../assets/icon/TELEFONE.png" class="icon-contato">(21) 3622-6400
        <img src="../assets/icon/whatsapp-logo-1.png" class="icon-contato">(21) 99311-9141
        <img src="../assets/icon/icone-email.png" class="icon-contato">suporte@karyon.com.br
      </p>
    </ion-toolbar>     
  </ion-footer>

</ion-content>