<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-divider><p class="p-divider">Exame</p></ion-item-divider>
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Exame</ion-label></ion-item>
    </ion-card> 
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Grupo de Exames</ion-label></ion-item>
    </ion-card>     
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Informações Adicionais</ion-label></ion-item>
    </ion-card>
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Formato</ion-label></ion-item>
    </ion-card>
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Tabela de Resultato</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Grupo de Modelo de Resultado</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Tabela de Cobrança</ion-label></ion-item>
    </ion-card>
    <ion-card>       
      <ion-item lines="none" href="/"><ion-label >Similitude</ion-label></ion-item>
    </ion-card>
    <ion-card>       
      <ion-item lines="none" href="/"><ion-label >Cobertura</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Convênio</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Laboratório e Clinica</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Laboratório Externo</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Filiais e Postos</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Área Técnica</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Setor Técnico</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Material e Amostra</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Agendamento</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Feriados</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Serviços</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Tabelas de Sistema</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Municípios e Impostos</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Usuário</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Grupo de Permissão</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Sistema</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Estação</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Template</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Relatórios</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Personalizadas</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Registrar Customizações</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Unificar Pacientes Duplicados</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Parâmetro de Liberação</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Relatórios</ion-label></ion-item>
    </ion-card>   
   
  </ion-list>  
</ion-content>
