  <ion-header>
    <ion-toolbar>
      <ion-item class="home" lines="none">
        <img src="/assets/icon/icon-bioslab.png" class="img">
        <p class="p-home"><strong>BIOSLAB - Manual do Usuário</strong> </p>
      </ion-item>      
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-tabs>            
      <ion-tab-bar slot="top" >       
        <ion-tab-button tab="tab1"> 
          <ion-thumbnail><img src="/assets/icon/atendimento.png"></ion-thumbnail>         
         <span>Atendimento</span>  
        </ion-tab-button>
    
        <ion-tab-button tab="tab2">   
          <ion-thumbnail><img src="/assets/icon/microscopio-biologico.png"></ion-thumbnail>   
          <span>Análise</span>
        </ion-tab-button>
    
        <ion-tab-button tab="tab3">    
          <ion-thumbnail><img src="/assets/icon/financeiro.png"></ion-thumbnail>     
          <span>Financeiro</span>
        </ion-tab-button>
    
        <ion-tab-button tab="tab4">   
          <ion-thumbnail><img src="/assets/icon/vida-financeira.png"></ion-thumbnail>      
          <span>Estatístico</span>
        </ion-tab-button>
    
        <ion-tab-button tab="tab5">    
          <ion-thumbnail><img src="/assets/icon/configuracao2.png"></ion-thumbnail>    
          <span>Configurações</span>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-content>
 

  
  
   
 
   
  

