<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-divider><p class="p-divider">Material</p></ion-item-divider>
    <ion-card >
      <ion-item lines="none" href="/receber" class="ion-item"><ion-label >Receber</ion-label></ion-item>
    </ion-card>   
    <ion-card >
      <ion-item lines="none" href="/distribuir" class="ion-item"><ion-label >Distribuir</ion-label></ion-item>
    </ion-card>   
    <ion-card >
      <ion-item lines="none" href="/realocar" class="ion-item"><ion-label >Realocar</ion-label></ion-item>
    </ion-card>
    <ion-card >
      <ion-item lines="none" href="/descartar" class="ion-item"><ion-label >Descartar</ion-label></ion-item>
    </ion-card>
    <ion-card >
      <ion-item lines="none" href="/control-amostra" class="ion-item"><ion-label >Controle de Amostra</ion-label></ion-item>
    </ion-card>
    <ion-card >
      <ion-item lines="none" href="/inf-volume" class="ion-item"><ion-label >Informar Volume</ion-label></ion-item>
    </ion-card>
    
    <ion-item-divider><p class="p-divider">Mapa de Trabalho</p></ion-item-divider>

    <ion-card>
      <ion-item lines="none" href="/gerar-mapa"class="ion-item"><ion-label >Gerar Mapa de Trabalho</ion-label></ion-item>
    </ion-card>
    <ion-card>       
      <ion-item lines="none" href="/ret-exm-mapa"class="ion-item"><ion-label >Retirar exame de mapa de trabalho</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/imp-mapa"class="ion-item"><ion-label >Imprimir mapa de trabalho</ion-label></ion-item>
    </ion-card>
    <ion-card>       
      <ion-item lines="none" href="/list-trabalho"class="ion-item"><ion-label >Lista de Trabalho</ion-label></ion-item>
    </ion-card>      
    
    <ion-item-divider><p class="p-divider">Digitação</p></ion-item-divider>

    <ion-card>
      <ion-item lines="none" href="/dig-mapa"class="ion-item"><ion-label >Mapa de Trabalho</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/and-cultura"class="ion-item"><ion-label >Andamento de Cultura</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/neg-cultura"class="ion-item"><ion-label >Negativar Cultura</ion-label></ion-item>
    </ion-card>      

    <ion-item-divider><p class="p-divider">Liberação</p></ion-item-divider>

    <ion-card>
      <ion-item lines="none" href="/lib-exame"class="ion-item"><ion-label >Liberação de Exames</ion-label></ion-item>
    </ion-card>      

    <ion-item-divider><p class="p-divider">Soroteca</p></ion-item-divider>

    <ion-card>
      <ion-item lines="none" href="/catalogar"class="ion-item"><ion-label >Catalogar</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/pesquisar"class="ion-item"><ion-label >Pesquisar</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/desca-bandeja"class="ion-item"><ion-label >Descartar Bandeja</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/config-bandeja"class="ion-item"><ion-label >Configurações de Bandejas</ion-label></ion-item>
    </ion-card>   
    
    <ion-item-divider><p class="p-divider">Ferramentas</p></ion-item-divider>

    <ion-card>
      <ion-item lines="none" href="/agen-exame"class="ion-item"><ion-label >Agendar Exames</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/dura-exame"class="ion-item"><ion-label >Duração de Exames</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/corre-laudo"class="ion-item"><ion-label >Correção de Laudo</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/anular-exame"class="ion-item"><ion-label >Anular exame</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/atl-set-realiza"class="ion-item"><ion-label >Alterar Setor de Realização</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/alt-form-mapa"class="ion-item"><ion-label >Alterar Formato por Mapa</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/redig-rean"class="ion-item"><ion-label >Solicitar Redigitação e Reanálise</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/desblo-impr"class="ion-item"><ion-label >Desbloqueio de Impressão</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/personalizada"class="ion-item"><ion-label >Personalizadas</ion-label></ion-item>
    </ion-card>

    <ion-item-divider><p class="p-divider">Consultas</p></ion-item-divider>

    <ion-card>
      <ion-item lines="none" href="/geri-exame"class="ion-item"><ion-label >Gerenciamento de Exames</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/rastrea-exame"class="ion-item"><ion-label >Rastreabilidade de Operações</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/info-atendi"class="ion-item"><ion-label >Informações do Atendimento</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/hist-paciente"class="ion-item"><ion-label >Histórico do Paciente</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/hist-paciente"class="ion-item"><ion-label >Tabelas de Resultados</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/formato"class="ion-item"><ion-label >Formatos</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/qtd-exam-tec"class="ion-item"><ion-label >Quantidade Exames Liberados por Técnicos</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/laudo-corrigido"class="ion-item"><ion-label >Laudos Corrigidos por Período</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/and-cult-consul"class="ion-item"><ion-label >Andamento de Cultura</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/equip-ativo"class="ion-item"><ion-label >Equipamentos Ativos</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/relatorio"class="ion-item"><ion-label >Relatórios</ion-label></ion-item>
    </ion-card>   
    
  </ion-list>  
</ion-content>
