<ion-content [fullscreen]="true">

    <ion-item-divider><p class="p-divider">Atendimento</p></ion-item-divider>
    <ion-card >
      <ion-item lines="none" href="/atendimento" class="ion-item"class="ion-item"><ion-label >Realizar um atendimento</ion-label></ion-item>      
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/loc-paciente" class="ion-item"><ion-label >Localizar Paciente</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/loc-medico" class="ion-item"><ion-label >Localizar Médico</ion-label></ion-item>
    </ion-card>    
    <ion-card>
      <ion-item lines="none" href="/login" class="ion-item"><ion-label >Fazer Login no Sistema</ion-label></ion-item>
    </ion-card>    
    <ion-card>
      <ion-item lines="none" href="/servidor" class="ion-item"><ion-label >Alterar o Servidor</ion-label></ion-item>
    </ion-card>   
    
    <ion-item-divider><p class="p-divider">Resultados</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/imprimir"class="ion-item"><ion-label >Imprimir</ion-label></ion-item>
    </ion-card>
    <ion-card>       
      <ion-item lines="none" href="/desbloqueimp"class="ion-item"><ion-label >Desbloqueio de Impressão</ion-label></ion-item>
    </ion-card>  
    
    <ion-item-divider><p class="p-divider">Financeiro</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/caixa"class="ion-item"><ion-label >Caixa</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/pagam-devol"class="ion-item"><ion-label >Pagamento/Devolução</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/pagam-pendent"class="ion-item"><ion-label >Pagamentos Pendentes</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/lanc-aberto"class="ion-item"><ion-label >Lançamento em Aberto</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/desconto"class="ion-item"><ion-label >Desconto</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/rel-guia"class="ion-item"><ion-label >Relatorio de Guias</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/control-guia"class="ion-item"><ion-label >Controle de Guias</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/remes-guia"class="ion-item"><ion-label >Remessa de Guias</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/guia-nao-rem"class="ion-item"><ion-label >Guias Não Remetidas</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/control-rps"class="ion-item"><ion-label >Controle de RPS</ion-label></ion-item>
    </ion-card>     

    <ion-item-divider><p class="p-divider">Material</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Remessa</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Controle de Amostras</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Cancelar Remessa</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Gerenciamento de Nova Amostra</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Informar Volume</ion-label></ion-item>
    </ion-card>  

    <ion-item-divider><p class="p-divider">Ferramentas</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Cadastro de Paciente</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Cadastro de Profissional Solicitante</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Cadastro de Empresa Solicitante</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Controle de Orçamento</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Alteração de Serviço Solicitado</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Alterar Número de Atendimento</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Alterar Data de Nascimento</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Imprimir</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Personalizadas</ion-label></ion-item>
    </ion-card>

    <ion-item-divider><p class="p-divider">Consultas</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Atendimentos Realizados</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Orçamento de Exames</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Listagem de Conferência</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Informações de Atendimento</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Informações de Exames</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Filiais e Postos</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Instruções de Faturamento</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Serviços Solicitados</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Ordem de Etiquetamento</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Formatos</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Consumo de Material de Coleta</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Gerenciamento de Exames</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Exames Pendentes</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Rastreabilidade de Operações</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Registro de Operações</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >TISS</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"class="ion-item"><ion-label >Relatórios</ion-label></ion-item>
    </ion-card>   
</ion-content>
