<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-divider><p class="p-divider">Movimentação</p></ion-item-divider>
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Receber</ion-label></ion-item>
    </ion-card> 
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Distribuir</ion-label></ion-item>
    </ion-card>      
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Resdistribuir</ion-label></ion-item>
    </ion-card> 
    <ion-card >
      <ion-item lines="none" href="/" ><ion-label >Devolver</ion-label></ion-item>
    </ion-card> 
    
    <ion-item-divider><p class="p-divider">Guia</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Controle de Guia</ion-label></ion-item>
    </ion-card>
    <ion-card>       
      <ion-item lines="none" href="/"><ion-label >Reperfilar Guia</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Impressão de Guias SP/SPDAT</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Relatórios</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Rastreabilidade de Guias</ion-label></ion-item>
    </ion-card>  
    
    <ion-item-divider><p class="p-divider">Borderô</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Gerar Borderô</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Verificar Borderô</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Alterar Borderô</ion-label></ion-item>
    </ion-card>      

    <ion-item-divider><p class="p-divider">Fatura</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Gerar Fatura</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Verificar Fatura</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Desfazer Fatura</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Faturamento Eletrônico</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >SUS BPA</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Gerar Processo para Pagamento</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Gerenciamento de Grupo de Fatura</ion-label></ion-item>
    </ion-card>     

    <ion-item-divider><p class="p-divider">Ferramentas</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Encontro de Contas</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Fechamento de Conta por Paciente</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Controle de Culturas</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Corrigir o número de Conselho do Profissional Solicitante</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Bloquear Atendimento pelo Convênio</ion-label></ion-item>
    </ion-card> 
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Autorizar Desconto</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >cobrança e Estorna</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Entrada e Saída Extraordinária</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Laudos Vinculados ao Borderô</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Revisão de Glosa</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Autorização de Faturamento</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Recibo Provisório de Serviço</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Reindexar Fatura</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Reindexar Exames</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Personalizadas</ion-label></ion-item>
    </ion-card>    

    <ion-item-divider><p class="p-divider">Consultas</p></ion-item-divider>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Informações do Atendimento</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Guias não remetidas</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Cobranças e Estornos</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Valores a Faturar</ion-label></ion-item>
    </ion-card>   
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Gerenciamento de Guias</ion-label></ion-item>
    </ion-card>  
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Gerenciamento de Faturas</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Estatística de Atendimento</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Lançamento de Caixa</ion-label></ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none" href="/"><ion-label >Relatórios</ion-label></ion-item>
    </ion-card>
        
  </ion-list>  
</ion-content>
