/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* CSS - Configurações Gerais de Estilo */

ion-content.background {
    --background: #ffffff;
}

ion-tab-bar {        
    background:rgb(175, 12, 12); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
    margin: 3px; 
}

ion-tab-button:hover {    
    background-color: var(--ion-hover-tab);      
    border-radius: 5px; 
}

ion-card {
    margin: 5px;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

ion-tab-button {
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    color: #ffffff;   
    width: fit-content;
    background-color:transparent; 
    --color-focused:rgb(117, 6, 6);
}

ion-item{
    &.ion-item {    
        --background-hover: var(--ion-hover);  
        --background-hover-opacity:1;  
        --color-hover:white;     
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    }
    &.home {    
        --background:transparent;
        --color:white;   
        padding-left: 10px;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    }
}

ion-toolbar {
    --background:var(--bg-toolbar);
    --color:white;    
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

ion-icon {
    &.big {
      width: 40px;
      height: 40px;
    }
  
    &.bigger {
      width: 100px;
      height: 100px;
    }
  
    &.red {
      color: rgb(255, 255, 255);
    }

    &.icon-red {
        color:rgb(175, 12, 12);
        padding-right: 5px;
    }
}

ion-col {    
    &.span-col{
        color: white;    
        font-weight: bold;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    }
}

img {
    &.icon-contato {
        width:15px;
        height:15px;  
        margin-right: 2px;
        margin-left: 2px; 
        margin-bottom: -1px;  
    }
    &.img-logo {
        width:40px;
        height:40px;  
      
    }
}

p {
    &.p-home {
        font-size: x-large;
        --background:transparent;
        --color:white;   
        padding-left: 10px;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    }
    &.p-title{   
        margin-left: 10px; 
        margin-top: 20px;
        font-size:medium;
        font-weight: bold;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    }
    
    &.p-divider {      
        font-weight: bolder;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    }
    
    &.p-texto{    
        color: black; 
        font-size: small;
        text-align: justify;
        word-wrap: break-word;
        height: fit-content;
        margin-left: 10px;
        margin-right: 10px;
        text-indent: 10px;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    } 
    
    &.p-texto05{    
        color: black; 
        font-size: small;
        text-align: justify;
        word-wrap: break-word;
        height: fit-content;
        margin-left: 10px;
        margin-right: 10px;
        text-indent: 15px;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    } 
    
    &.p-textoUP {    
        color: black; 
        font-size: small;
        text-align: justify;
        word-wrap: break-word;
        height: fit-content;
        text-transform: uppercase;
        margin-left: 10px;
        margin-right: 10px;
        text-indent: 15px; 
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;            /* Possível implementação no futuro */
    }
    
    &.p-texto-small {
        color: rgb(255, 255, 255); 
        font-size: small;
        text-align: justify;
        word-wrap: break-word;
        height: fit-content;        
    }  

}

ion-img {
    &.ion-img {    
        display: block;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;     
    }
}

/*CSS de Lista não ordernada*/
ul {
    &.ul-li-white {    
        color: rgb(255, 255, 255); 
        text-align: justify;
        font-size: small;
        word-wrap: break-word;
        height: fit-content;  
        padding-right: 5px;      
    }  
    
    &.ul-li {    
        color: rgb(0, 0, 0); 
        text-align: justify;
        font-size: small;
        word-wrap: break-word;
        height: fit-content;  
        padding-right: 5px;      
    }
}

/* Responsivo Display Mobile*/
@media screen and (min-width: 1024px) {
    ion-footer {
        display: none;
        } 

    img {
        &.icon-contato {
            width:15px;
            height:15px;  
            margin-right: 2px;
            margin-left: 2px; 
            margin-bottom: -1px;  
        }
        &.img-logo {
            width:80px;
            height:80px;              
        }
    }

    ion-col {    
        &.span-col{
            align-items: right;
            color: white;    
            font-weight: bold;
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        }
    }

    p {
        &.p-home {
            font-size: xx-large;
            --background:transparent;
            --color:white;   
            padding-left: 10px;
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        }
        &.p-title{   
            margin-left: 10px; 
            margin-top: 20px;
            font-size:x-large;
            font-weight: bold;
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        }
        
        &.p-divider {      
            font-weight: bolder;
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        }
        
        &.p-texto{    
            color: black; 
            font-size: large;
            text-align: justify;
            word-wrap: break-word;
            height: fit-content;
            margin-left: 10px;
            margin-right: 10px;
            text-indent: 10px;
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        } 
        
        &.p-texto05{    
            color: black; 
            font-size: large;
            text-align: justify;
            word-wrap: break-word;
            height: fit-content;
            margin-left: 10px;
            margin-right: 10px;
            text-indent: 15px;
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        } 
        
        &.p-textoUP {    
            color: black; 
            font-size: large;
            text-align: justify;
            word-wrap: break-word;
            height: fit-content;
            text-transform: uppercase;
            margin-left: 10px;
            margin-right: 10px;
            text-indent: 15px; 
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        }
        
        &.p-texto-small {
            color: rgb(255, 255, 255); 
            font-size: small;
            text-align: right;
            word-wrap: break-word;
            height: fit-content;        
        }  
    
    }
}

/* Responsivo Display Mobile*/
@media screen and (max-width: 1023px) {

    ion-label {
        &.span-label {
            display: none;
            } 
    }

    ion-col {
        &.span-col {
            display: none;
        }
    }
            
    ion-tab-bar {        
        background:rgb(175, 12, 12); 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;          
    }  

    p {
        &.p-texto-small {
            color: rgb(255, 255, 255); 
            font-size: xx-small;
            text-align: justify;
            word-wrap: break-word;
            text-align: center;
            height: fit-content;
            margin-left: 10px;
            margin-right: 10px;   
            margin-top: 0px;  
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        } 
        &.p-home {
            font-size: small;
            --background:transparent;
            --color:white;   
            padding-left: 10px;
            -webkit-touch-callout: none;  /* iPhone OS, Safari */
            -webkit-user-select: none;    /* Chrome, Safari 3 */
            -khtml-user-select: none;     /* Safari 2 */
            -moz-user-select: none;       /* Firefox */
            -ms-user-select: none;        /* IE10+ */
            user-select: none;            /* Possível implementação no futuro */
        }
    }

    img {
        &.icon-contato {
            width:10px;
            height:10px;  
            margin-right: 2px;
            margin-left: 2px; 
            margin-bottom: -1px;  
        }
    } 

    ion-icon {
        &.big {
            width: 30px;
            height: 30px;
        }
        
        &.bigger {
            width: 100px;
            height: 100px;
        }
        
        &.red {
            color: rgb(255, 255, 255);
        }
    }    
}
