<ion-header>
  <ion-toolbar class="default">
    <ion-buttons slot="start"> <ion-back-button defaultHref="/" color="light" text=""></ion-back-button> </ion-buttons>
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="p-title"></p>

  <p class="p-texto"></p>
  
  <p class="p-textoUP"></p>

  <ion-img src="" class="ion-img"></ion-img>
  
  <p class="p-textoUP">
    <ion-icon name="ellipse-sharp" class="icon-red"></ion-icon>  
    <strong>: </strong>
  </p>
  
</ion-content>